.env

**/venv310/

**/venv/

**/D_venv/

backend/__pycache__/

backend/app/__pycache__/

**/__pycache__/

.ipynb_checkpoints/

.vscode/

.idea/

*.py[cod]

*$py.class

추가예정/

img/

**/logs/*

!**/logs/.gitkeep

**/preprocessed/*

!**/preprocessed/.gitkeep

data/veganlens_API_Key.json

models/*.pth

models/*.pt

models/*.ckpt

models/*.py